<div class="content" role="main">
  <form>
    <label for="clientId">Client ID:</label>
    <input type="text" [(ngModel)]="clientId" id="clientId" name="clientId">
    <button (click)="subscribeToNotifications(clientId)">Subscribe to Notifications</button>
    <br><br>
    <label for="message">Title:</label>
    <input type="text" [(ngModel)]="notificationTitle" id="message" name="message">
    <br>
    <label for="notification">Notification:</label>
    <input type="text" [(ngModel)]="notificationMessage" id="notification" name="notification">

    <br><br>
    <button (click)="sendNotification(clientId)">Send Notification</button>
  </form>
</div>

<router-outlet></router-outlet>
